
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("../Fonts/NotoSans/NotoSans-Regular.ttf");
}

body {
	background-color: rgb(30, 30, 30);
	color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	padding: 10px 10px 0 0;
}

.node {
	border-left: 5px solid rgb(63, 63, 63);
	background-color: rgb(34, 34, 34);
	margin: 30px 0 10px 10px;
}

.node__header {
	border-top: 1px solid rgb(63, 63, 63);
	border-bottom: 1px solid rgb(63, 63, 63);
	border-right: 1px solid rgb(63, 63, 63);
	background-color: rgb(38, 38, 38);
	padding: 10px;
	font-size: 18px;
}

.node__header:focus {
	outline: none;
}

.node__header i {
	padding-right: 10px;
}

.property {
	padding: 0 5px 0 18px;
	margin-top: 10px;
	margin-right: 10px;
}

.property__label {
	margin-bottom: 4px;
}

.property__editable {
	padding: 14px;
	background: #323232;
}

.childNodes {
	padding-left: 10px;
}
